<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>XSS-Demo - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        {% block css %}
        {% endblock %}

        <script type="application/javascript" src="/js/jquery.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        {% block js %}
        {% endblock %}

    </head>

    <body>

        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <i class="fa fa-user-secret"></i> XSS-Admin
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Aktionen <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/reset">Reset</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container">
            <div class="page-header">
                <h1>{% block headline %}{% endblock %}</h1>
            </div>
            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container footer-content">
                <p>XSS-Demo - Grundlagen IT-Sicherheit (SoSe 2015)</p>
                <p>Gruppe: Hans-Peter Herzog</p>
            </div>
        </footer>

    </body>
</html>