{% extends 'layouts/main.html' %}

{% block title %}XSS-Admin{% endblock %}

{% block headline %}Dashboard{% endblock %}

{% block content %}

    <h2>Copy this code to attack</h2>
    <pre>{{scriptString}}</pre>

    <h2>Captured Sessions</h2>
    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>Token</th>
                <th>Refreshed</th>
            </tr>
        </thead>

        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{session.token}}</td>
                    <td>{{session.refreshed}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}