

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #444444;
    color: #999999;
    padding: 20px 0 20px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 5px;
}

.footer p:last-child {
    margin: 0;
}

.footer-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}